<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.ttf</string>
		<string>Pretendard-Bold.ttf</string>
		<string>Pretendard-ExtraBold.ttf</string>
		<string>Pretendard-ExtraLight.ttf</string>
		<string>Pretendard-Light.ttf</string>
		<string>Pretendard-Medium.ttf</string>
		<string>Pretendard-Regular.ttf</string>
		<string>Pretendard-SemiBold.ttf</string>
		<string>Pretendard-Thin.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Use Camera</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>AI 챗봇과의 음성 대화를 위해 마이크 권한이 필요해요.</string>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>SION_BASE_URL</key>
	<string>$(SION_BASE_URL)</string>
	<key>RECOGNIZE_SPEECH_ENDPOINT</key>
	<string>$(RECOGNIZE_SPEECH_ENDPOINT)</string>
	<key>RECOGNIZE_SPEECH_KEY</key>
	<string>$(RECOGNIZE_SPEECH_KEY)</string>
	<key>OPENAI_ENDPOINT</key>
	<string>$(OPENAI_ENDPOINT)</string>
	<key>OPENAI_KEY</key>
	<string>$(OPENAI_KEY)</string>
	<key>SYNTHESIZE_SPEECH_ENDPOINT</key>
	<string>$(SYNTHESIZE_SPEECH_ENDPOINT)</string>
	<key>SYNTHESIZE_SPEECH_KEY</key>
	<string>$(SYNTHESIZE_SPEECH_KEY)</string>
</dict>
</plist>
